<h1>Should be the TargetCoupon show page</h1>
<h3><%= @products.length %> products in the TargetCoupon DB</h3>
<% @products.each do |x| %>
    <p>Title: <a href=<%=x.link%>><%= x.title %></a> </p> 
    <p>Value: <%= x.value %> </p>
    <p>Store: <%= x.store %> </p>
<% end %>