<h1>This should be the show page for TargetiBottaSavingStar</h1>
<h3><%= @products.length %></h3>
<% @products.each do |x| %>
    <p> TARGET 1: <a href="<%= x.link1 %>"> <%= x.title1 %> </a> </p>
    <p> iBOTTA 2: <a href="<%= x.link2 %>"> <%= x.title2 %> </a> </p>
    <p> SAVING STAR 3: <a href="<%= x.link3 %>"> <%= x.title3 %> </a> </p>
    <p> Value: <%= x.value1 %> + <%= x.value2 %> + <%= x.value3 %> </p>
<% end %>