<h1>Should be the IbottaSavingStar show page</h1>
<h3><%= @products.length %> products in the IbottaSavingStar DB</h3>

<% @products.each do |x| %>
    <p> Product One: <a href="<%= x.link1 %>"> <%= x.title1 %> </a> </p>
    <p> Product Two: <a href="<%= x.link2 %>"> <%= x.title2 %> </a> </p>
    <p> Value: <%= x.value1 %> + <%= x.value2 %> </p>
<% end %>
