<h1>Should be the iBottaCheckout51 show page</h1>
<h3><%= @products.length %> number of iBottaCheckout51 products</h3>
<% @products.each do |x| %>
    <p>TITLE: (Checkout51) <a href="<%= x.link1 %>"><%= x.title1 %></a> + (IBOTTA) <a href="<%= x.link2 %>"><%= x.title2 %></a> </p>
    <p>VALUE: (Checkout51) <%= x.value1 %> + (IBOTTA) <%= x.value2 %> </p>
<% end %>