<h1>Should be the TargetIbotta show page</h1>
<h3><%= @products.length %> number of TargetIbotta products</h3>
<% @products.each do |x| %>
    <p>TITLE: (TARGET) <a href="<%= x.link1 %>"><%= x.title1 %></a> + (IBOTTA) <a href="<%= x.link2 %>"><%= x.title2 %></a> </p>
    <p>VALUE: (TARGET) <%= x.value1 %> + (IBOTTA) <%= x.value2 %> </p>
<% end %>