<h1>Everything should have been deleted!</h1>
<h3><%= @products.length %> products currently in the iBotta DB</h3>



<!--TODO-->
<!--Add a delete button-->

<!--Change the Value so I'm only getting a straight number from the site, that way I can add up the total savings and it can be seen right away-->
<!--instead of adding it up in my head-->

<!--Clean up each individual site so I'm getting title, value, store, link -->

<!--Need to change the TargetiBottaSavingStar save/show so it checks previous entries before inserting-->
<!--new ones so that I don't have to delete it's DB each time.  That or just delete it before saving?  -->
<!--Not a bad idea.  Not sure which is faster or more effective.-->

<!--Create a page for Checkout51 and try to match it up with iBotta again.-->
<!--I have a hard time believing there are 0 matches between the two.-->

<!--Ask stackoverflow if there is a way to go to a certain point on a webpage, not just the beginning of it-->

<!--I found a new way to get the information for SavingStar so do that..it will be much cleaner!!!!-->


<!--Target has been cleaned up-->
<!--iBotta has been cleaned up as well-->
