<h1>Show Page for iBotta</h1>

<h3><%= @products.length %> products in the iBotta DB</h3>

<% @products.each do |x| %>
  <h3><%= x.inspect %></h3>
  <p>Title: <a href=<%=x.link%>><%= x.title %></a> </p> 
  <p>Value: <%= x.values %> </p>
  <p>Store: <%= x.store %> </p>

  <%= link_to 'Destroy', x, method: :delete %>
  <hr>
<% end %>
