<h1>This should be the SavingStar show page</h1>
<% @products.each do |x| %>
    <p>TITLE: <a href="<%= x.link %>"><%= x.title %></a> </p>
    <p>VALUE: <%= x.value %></p>
    <p>STORE: <%= x.store %></p>
<% end %>